	<client>
            <endpoint address="http://cityline.hectronic.com:49779/ThirdPartyAccess"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IThirdPartyAccess"
                contract="IThirdPartyAccess" name="BasicHttpBinding_IThirdPartyAccess" />
            <endpoint address="https://cityline.hectronic.com:49778/Parkmobile"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebService"
                contract="IWebService" name="BasicHttpBinding_IWebService" />
            <endpoint address="https://citylinedata1.hectronic.com:49768/OFPTPA"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOFPThirdPartyWS"
                contract="IOFPThirdPartyWS" name="BasicHttpBinding_IOFPThirdPartyWS" />
</client>